body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0a0f1c, #0d1325);
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero span {
  color: #7c5cff;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #7c5cff;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background: #5a3fff;
}

/* SKILLS */
.skills {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.skill-card {
  background: #11182a;
  padding: 20px;
  border-radius: 15px;
  transition: 0.3s;
}

.skill-card:hover {
  transform: scale(1.1);
}

/* PROJECTS */
#projects {
  text-align: center;
  padding: 60px;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background: #11182a;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card a {
  color: #7c5cff;
}

/* CONTACT */
#contact {
  text-align: center;
  padding: 50px;
}
