body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0a0f1c, #0d1325);
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.cv-btn {
  background: #7c5cff;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 50px;
}

.hero .left {
  max-width: 500px;
}

.hero h1 {
  font-size: 60px;
}

.hero span {
  color: #8b5cf6;
}

.hero img {
  width: 250px;
}

/* BUTTONS */
.btn {
  padding: 10px 20px;
  border-radius: 8px;
  margin-right: 10px;
}

.primary {
  background: #8b5cf6;
}

.secondary {
  border: 1px solid white;
}

/* SECTIONS */
.section {
  padding: 80px 50px;
  text-align: center;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
}
